@font-face{
    font-family: CantarellCustom; src: url('font/Cantarell-Bold.ttf'); }

html, body{
    margin: 0;
    font-family: CantarellCustom, serif;
    height: 100%;
    background-color: #f6f6f6;
}

.GreyBanner{
    background-color: #62625c;
    height: 13em;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
}

.DarkGreyBanner{
    background-color: #36362c;
    height: 1em;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
}

.Title{
    color: white;
    margin-top: 2em;
}

#Name{
    font-size : 25px;
    margin: 0 auto;
    width: 10em;
}

#Domain{
    font-size : 20px;
    margin: 0 auto;
    width: 10em;
}

.Circle{
    background-color: #E7E7E7;
    width: 10em;
    height: 10em;
    margin: -3% auto 0 auto;
    position: relative;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.75);
}

.Logos{
    height: 5em;
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}

.Svg{
    width: 50px;
}

.Description{
    margin: 3em auto 0 auto;
    width: 1000px;
    height: 270px;
    background-color: #E7E7E7;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.75);
}

.TextDescription{
    width: 80%;
    padding: 2% 0 0 10%;
    text-align: center;
    color: #5A5A5A;
}

.Button {
    background-color: #2034C5;
    -webkit-box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.75);
    box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.75);
    width: 257px;
    height: 70px;
    margin-top: 6em;
    color: white;
}

.Buttons{
    width: 1000px;
    margin: 0 auto;
}

#DownloadCv{
    float: left;
    display: inline-block;
}

#ContactMe{
    float: right;
    display: inline-block;
}

.TextButton{
    margin: 1.3em auto 0 auto;
    text-align: center;
    width: 8em;
}